.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
  justify-content: center;
}

.chat > h2 {
  color: white;
  align-self: center;
}

.chat-messages {
  flex: 1;
  overflow: scroll;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-input {
  color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  border-radius: 5px;
  margin: 20px;
  margin-top: 1px solid gray;
  background-color: #474b53;
}
.chat-input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  color: white;
  font-size: large;
}

.chat-input > form {
  flex: 1;
}

.chat-input-button {
  display: none;
}

.chat-input-icons > .MuiSvgIcon-root {
  padding: 5px;
}
