.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2f3135;
  color: white;
  border-bottom: 3px solid #26282c;
}

.sidebar-top > h3 {
  text-align: center;
}

.sidebar-channels {
  flex: 1;
}

.sidebar-add-channel {
  cursor: pointer;
}

.sidebar-add-channel:hover {
  color: white;
}

.sidebar-channel-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
  border-bottom: 3px solid #26282c;
}

.sidebar-channel-header {
  display: flex;
  align-items: center;
}

.sidebar-voice,
.sidebar-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  background-color: #2f3135;
  padding: 10px;
  border-top: 1px solid gray;
}

.sidebar-voice-info {
  flex: 1;
  padding: 10px;
}

.sidebar-voice-icons,
.sidebar-voice-info > h3 {
  color: #4fb185;
}

.sidebar-voice-info > p {
  font-size: smaller;
}

.sidebar-voice-icons > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}

.sidebar-profile-info {
  flex: 1;
  padding: 10px;
}

.sidebar-profile-info > h3 {
  color: white;
}

.sidebar-profile-icons > .MuiSvgIcon-root {
  padding: 10px;
}
